{
  "presets": [
    [
      "env", 
      {
        "targets": {
          "node": "current"
      },
      "include": ["transform-async-to-generator"]
      }
    ],
    "react"
    ],
    "plugins": ["transform-object-rest-spread"]
}
